{%- style -%}
  .marquee-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 2rem;
    padding-bottom: 32px;
    background: rgb(var(--color-background));
  }

  .marquee__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    animation: scroll 20s linear infinite;
    min-width: 100%;
  }

  .marquee-individual-wrapper {
    max-width: 250px;
    margin-left: 24px;
  }

  .marquee-image {
    width: 100%;
  }

  .marquee-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }

  /* Pause animation when reduced-motion is set */
  @media(prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }

  /* Reverse animation */
  .marquee-wrapper--reverse .marquee__content {
    animation-direction: reverse;
  }

  /* Pause on hover */
  .marquee-wrapper--hover-pause:hover .marquee__content {
    animation-play-state: paused;
  }

  .section {}

  @media screen and (max-width: 750px) {
    .marquee-individual-wrapper {
      min-width: 150px;
    }
  }
{%- endstyle -%}

<div class="marquee-wrapper color-{{ section.settings.color_scheme }}">
  <div class="marquee__content">
    {%- for block in section.blocks -%}
      <div class="marquee-individual-wrapper">
        {{ block.settings.image | image_url: width: 1500 | image_tag:
         loading: 'lazy'
         , width: 150
         , class: 'marquee-image'
         , alt: section.settings.image.alt | escape
         }}
      </div>
    {%- endfor -%}
  </div>
  <div aria-hidden="true" class="marquee__content">
    {%- for block in section.blocks -%}
      <div class="marquee-individual-wrapper">
        {{ block.settings.image | image_url: width: 1500 | image_tag:
         loading: 'lazy'
         , width: 150
         , class: 'marquee-image'
         , alt: section.settings.image.alt | escape
         }}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Featured marquee",
    "limit": 1,
    "max_blocks": 7,
    "settings": [
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          }, {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }
        ],
        "default": "background-2",
        "label": "t:sections.all.colors.label"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Image selector",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Some image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured marque",
        "blocks": [
          {
            "type": "section"
          }, {
            "type": "section"
          }
        ]
      }
    ]
  }
{% endschema %}